<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <style> 
        .colored {
            background: #417690;
            width: auto;
            height: 70px;
            align-items: center;
        }
        .white {
            color: #f5dd5d;
        }
    </style>
</head>
<body>
    <div class="colored">
        <a href = "" align = "center" class="white">Pshsabet Home</a>
    </div>
    <ul>
        <li>
            <h3> Admin:</h3>
            <ul>
                <a href="/admin" target="_blank" title="پنل ادمین"><em>dmin panel</em></a>
            </ul>
        </li>
        <li>
            <h3> Posts: </h3>
            <ul>
                <a href="/post" target="_blank" title="site's api"><em>posts</em></a>
            </ul>
        </li>
        <li>
            <h3> Maps: </h3>
            <ul>
                <a href="/iran-map" target="_blank" title="iran map"><em>iran map</em></a>
            </ul>
        </li>
        <li>
            <h3> Seener: </h3>
            <ul>
                <a href="/seener" target="_blank" title="seener"><em>site seener</em></a>
            </ul>
        </li>
    </ul>
</body>
</html>