<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iran Map</title>
    <style>
    </style>
</head>
<body>
    <center>
            <img src="../../../media/input-images/iran-map.jpg" alt="Iran-Map" usemap="#map">
    </center>
    <map name="map">
        <area name = "Tehran" shape="poly" coords="202,160,205,153,206,144,219,150,233,137,220,134,209,139,199,126,180,140,168,140,183,154,202,160" href="https://www.google.com" title="استان تهران">
        <area name = "َAlborz" shape="poly" coords="194,125,177,119,168,120,173,126,164,135,167,144,183,139,191,133" href="https://www.google.com" title="استان البرز">
        <area name = "ًQum" shape="poly" coords="202,176,204,166,194,158,181,158,173,160,174,165,166,170,160,169,161,178,168,185,179,187,187,178" href="https://www.google.com" title="استان قم">
        <area name = "Gilan" shape="poly" coords="172,98,167,108,162,107,167,108,152,109,140,105,137,94,130,86,125,71,127,49,134,70,148,81,162,83" href="https://www.google.com" title="استان گیلان">
        <area name = "Gilan" shape="poly" coords="171,98,204,111,245,100,258,109,253,121,244,128,232,134,219,131,212,139,189,123,178,118,164,108" href="https://www.google.com" title="استان مازندران">
        <area name = "Qazvin" shape="poly" coords="" href="https://www.google.com" title="استان قزوین">
        <area name = "Zanjan" shape="poly" coords="" href="https://www.google.com" title="استان زنجان">
        <area name = "Ardebil" shape="poly" coords="" href="https://www.google.com" title="استان اردبیل">
        <area name = "AzarShargh" shape="poly" coords="" href="https://www.google.com" title="استان آذربایجان شرقی">
        <area name = "AzarGharg" shape="poly" coords="" href="https://www.google.com" title="استان آذربایجان غربی">
        <area name = "Golestan" shape="poly" coords="" href="https://www.google.com" title="استان گلستان">
        <area name = "Kordestan" shape="poly" coords="" href="https://www.google.com" title="استان کردستان">
        <area name = "Hamedan" shape="poly" coords="" href="https://www.google.com" title="استان همدان">
        <area name = "Kermanshah" shape="poly" coords="" href="https://www.google.com" title="استان کرمانشاه">
        <area name = "Arak" shape="poly" coords="" href="https://www.google.com" title="استان اراک">
        <area name = "Ilam" shape="poly" coords="" href="https://www.google.com" title="استان ایلام">
        <area name = "Lorestan" shape="poly" coords="" href="https://www.google.com" title="استان لرستان">
        <area name = "Khoozestan" shape="poly" coords="" href="https://www.google.com" title="استان خوزستان">
        <area name = "Chahar&Bakhtiar" shape="poly" coords="" href="https://www.google.com" title="استان چهارمحال و بختیاری">
        <area name = "Kohkiloo" shape="poly" coords="" href="https://www.google.com" title="استان کهکیلویه و بویراحمد">
        <area name = "Booshehr" shape="poly" coords="" href="https://www.google.com" title="استان بوشهر">
        <area name = "Fars" shape="poly" coords="" href="https://www.google.com" title="استان فارس">
        <area name = "Hormozgan" shape="poly" coords="" href="https://www.google.com" title="استان هرمزگان">
        <area name = "Kerman" shape="poly" coords="" href="https://www.google.com" title="استان کرمان">
        <area name = "Yazd" shape="poly" coords="" href="https://www.google.com" title="استان یزد">
        <area name = "Sistan" shape="poly" coords="" href="https://www.google.com" title="استان سیستان و بلوچستان">
        <area name = "KhorasanShomal" shape="poly" coords="" href="https://www.google.com" title="استان خراسان شمالی">
        <area name = "Khorasanrazavi" shape="poly" coords="" href="https://www.google.com" title="استان خراسان رضوی">
        <area name = "Khorasanjonoob" shape="poly" coords="" href="https://www.google.com" title="استان خراسان جنوبی">
        <area name = "Isfahan" shape="poly" coords="" href="https://www.google.com" title="استان اصفهان">
        <area name = "Semnan" shape="poly" coords="" href="https://www.google.com" title="استان سمنان">


    </map>

</body>
</html>